// ─── Nextflow Configuration ───

manifest {
    name = 'bioinfo/genomics-pipeline'
    author = 'Bioinfo Platform'
    description = 'WGS Germline Variant Calling - GATK Best Practices'
    version = '0.1.0'
    nextflowVersion = '>=23.04.0'
}

profiles {
    docker {
        includeConfig "${projectDir}/conf/docker.config"
    }
    standard {
        // Default local execution
    }
}

params {
    // samplesheet = "assets/samplesheet.csv"
    // reference = "grch38"
    // outdir = "./results"

    seed = 42
}
