docker {
    enabled = true
    runOptions = '-u $(id -u):$(id -g)'
}

process {
    scratch = true
    stageInMode = 'link'
}

process {
    withName: 'FASTQC' {
        container = 'staphb/fastqc:0.12.1'
        cpus = 2
        memory = 4.GB
    }
    withName: 'MULTIQC' {
        container = 'multiqc/multiqc:1.25.1'
        cpus = 1
        memory = 2.GB
    }
    withName: 'BWA_ALIGN' {
        container = 'biocontainers/bwa:v0.7.18_cv1'
        cpus = 8
        memory = 16.GB
    }
    withName: 'SAMTOOLS_SORT' {
        container = 'biocontainers/samtools:v1.21_cv1'
        cpus = 4
        memory = 8.GB
    }
    withName: 'GATK_MARKDUPLICATES' {
        container = 'broadinstitute/gatk:4.6.1.0'
        cpus = 4
        memory = 8.GB
        beforeScript = 'export JAVA_OPTS="-Xmx6g -XX:ParallelGCThreads=2"'
    }
    withName: 'GATK_BQSR' {
        container = 'broadinstitute/gatk:4.6.1.0'
        cpus = 4
        memory = 8.GB
        beforeScript = 'export JAVA_OPTS="-Xmx6g -XX:ParallelGCThreads=2"'
    }
    withName: 'GATK_HAPLOTYPECALLER' {
        container = 'broadinstitute/gatk:4.6.1.0'
        cpus = 8
        memory = 16.GB
        beforeScript = 'export JAVA_OPTS="-Xmx12g -XX:ParallelGCThreads=2"'
    }
    withName: 'GATK_COMBINE' {
        container = 'broadinstitute/gatk:4.6.1.0'
        cpus = 4
        memory = 8.GB
        beforeScript = 'export JAVA_OPTS="-Xmx6g -XX:ParallelGCThreads=2"'
    }
    withName: 'GATK_GENOTYPE' {
        container = 'broadinstitute/gatk:4.6.1.0'
        cpus = 4
        memory = 8.GB
        beforeScript = 'export JAVA_OPTS="-Xmx6g -XX:ParallelGCThreads=2"'
    }
    withName: 'GATK_VQSR' {
        container = 'broadinstitute/gatk:4.6.1.0'
        cpus = 4
        memory = 8.GB
        beforeScript = 'export JAVA_OPTS="-Xmx6g -XX:ParallelGCThreads=2"'
    }
    withName: 'BCFTOOLS_STATS' {
        container = 'biocontainers/bcftools:v1.21_cv1'
        cpus = 2
        memory = 4.GB
    }
    withName: 'R_REPORT' {
        container = 'bioconductor/bioconductor_docker:RELEASE_3_20'
        cpus = 2
        memory = 4.GB
    }
}
