// ─── Eco Profile ───
// Baixo consumo de recursos. Ideal para máquinas com ≤ 16 GB RAM.

process {
    cpus = 2
    memory = 4.GB
    time = 96.h
}

process {
    withName: 'FASTQC' { cpus = 1; memory = 2.GB }
    withName: 'MULTIQC' { cpus = 1; memory = 1.GB }
    withName: 'BWA_ALIGN' { cpus = 4; memory = 8.GB }
    withName: 'SAMTOOLS_SORT' { cpus = 2; memory = 4.GB }
    withName: 'GATK_MARKDUPLICATES' { cpus = 2; memory = 6.GB }
    withName: 'GATK_BQSR' { cpus = 2; memory = 6.GB }
    withName: 'GATK_HAPLOTYPECALLER' { cpus = 4; memory = 8.GB }
    withName: 'GATK_COMBINE' { cpus = 2; memory = 6.GB }
    withName: 'GATK_GENOTYPE' { cpus = 2; memory = 6.GB }
    withName: 'GATK_VQSR' { cpus = 2; memory = 4.GB }
    withName: 'BCFTOOLS_STATS' { cpus = 1; memory = 2.GB }
}

executor {
    queueSize = 2
    submitRateLimit = 1
}
