// ─── Performance Profile ───
// Alto desempenho. Para servidores com 64+ GB RAM e 16+ CPUs.

process {
    withName: 'BWA_ALIGN' { cpus = 16; memory = 32.GB }
    withName: 'GATK_HAPLOTYPECALLER' { cpus = 16; memory = 32.GB }
    withName: 'GATK_MARKDUPLICATES' { cpus = 8; memory = 16.GB }
    withName: 'GATK_BQSR' { cpus = 8; memory = 16.GB }
    withName: 'SAMTOOLS_SORT' { cpus = 8; memory = 16.GB }
    withName: 'GATK_COMBINE' { cpus = 4; memory = 12.GB }
    withName: 'GATK_GENOTYPE' { cpus = 4; memory = 12.GB }
    withName: 'GATK_VQSR' { cpus = 4; memory = 8.GB }
}

executor {
    queueSize = 8
}
